.noProducts {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-sans-bold);
    margin: var(--spacing-double) auto 0;
    max-width: 400px;
    padding: var(--spacing-single);
    text-align: center;
    width: 100%;
}
