@import 'mixins';

.main {
    margin: 0 auto;
    max-width: 1600px;
    padding: 2rem 0;
    width: 100%;

    @include breakpoint('large') {
        padding: var(--spacing-double) var(--spacing-single);
    }
}

.container {
    padding: 0 var(--spacing-single);
}
