@import 'buttons';

.grid {
    display: grid;
    grid-gap: var(--spacing-half);
}

.gridItem {
    display: inline-block;
    margin-right: var(--spacing-half);

    &:last-of-type {
        margin-right: 0;
    }
}

.start {
    @extend %buttonPrimary;
    @extend %buttonSizeSmall;
}

.track {
    @extend %buttonSecondary;
    @extend %buttonSizeSmall;
}
