.orders {
    display: grid;
    grid-gap: var(--spacing-single);
    list-style: none;
    margin: 0 0 var(--spacing-double);
    padding: 0;
}

.error {
    margin-top: var(--spacing-single);
    text-align: center;
}
