.ol {
    margin: 0 0 0 1.15rem;

    li {
        margin-bottom: var(--spacing-half);
    }
}

.cp {
    color: var(--color-dark-grey);
    font-size: var(--font-size-base);
}

.figure {
    margin: 2rem 0;
}
