@import 'mixins';

.subtotalTop {
    @extend %tnum;
    font-size: var(--font-size-medium-small);
    margin-bottom: var(--spacing-single);
}

.subtotalFigures {
    font-weight: var(--font-weight-sans-bold);
}
