.header {
    margin-right: var(--spacing-single);
    width: 100%;
}

.title {
    font-size: var(--font-size-xl);
}

.body {
    font-size: var(--font-size-medium-small);
    max-width: 650px;
    width: 100%;
}
