.totalsHeader {
    font-family: var(--font-sans);
    font-size: var(--font-size-medium-large);
}

.totalsList {
    list-style: none;
    margin-left: 0;
    margin-bottom: var(--spacing-single);
    width: 100%;
}
