.title {
    font-family: var(--font-sans);
    font-size: var(--font-size-large);
    font-variant-ligatures: common-ligatures;
    font-variant-numeric: lining-nums;
    font-feature-settings: 'liga', 'lnum';
}
