.fieldset {
    display: block;
    margin: 0 0 var(--spacing-two-thirds);
    position: relative;
}

.label {
    font-weight: var(--font-weight-sans-medium);
    margin-bottom: var(--spacing-third);

    &.large {
        font-size: var(--font-size-medium);
    }
}

.caption {
    color: var(--color-dark-grey);
    display: inline-block;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-sans-normal);
    margin-bottom: var(--spacing-half);

    p {
        margin-bottom: var(--spacing-third);

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        color: var(--color-primary);
    }
}
