.container {
    margin: var(--spacing-double) 0;
}

.caption {
    color: var(--color-dark-grey);
    font-size: var(--font-size-medium-small);
    margin-top: var(--spacing-two-thirds);
    text-align: center;
}
