@import 'mixins';

.brandGrid {
    display: grid;
    grid-gap: var(--spacing-double);
    grid-template-columns: 1fr;
    margin: 0;
    padding: var(--spacing-single) var(--spacing-single) 0;
    width: 100%;

    @include breakpoint('small') {
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoint('medium') {
        padding: 0 var(--spacing-single);
        width: 83.33333%;
    }

    @include breakpoint('xl') {
        grid-template-columns: repeat(3, 1fr);
    }
}
