.viewAll {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
    float: right;
    font-weight: var(--font-weight-sans-bold);
    letter-spacing: 0.25px;
    text-decoration: none;

    &:focus,
    &:hover {
        color: var(--color-primary);
    }
}

.noEvents {
    font-size: var(--font-size-medium-small);
    font-weight: var(--font-weight-sans-bold);
}
