@import 'mixins';

.breadcrumbs {
    display: none;
    font-size: 0;
    margin: 0;
    text0align: left;

    @include breakpoint('medium') {
        display: block;
        font-size: var(--font-size-base);
    }
}

.breadcrumb {
    display: inline-block;
    float: none;

    &::after {
        border-right: 1px solid var(--color-dark-grey);
        border-top: 1px solid var(--color-dark-grey);
        content: '';
        display: inline-block;
        height: 6px;
        margin: 0 var(--spacing-third);
        transform: rotate(45deg);
        vertical-align: middle;
        width: 6px;
    }

    &:last-child::after {
        display: none;
    }
}

.breadcrumbLink {
    color: var(--color-dark-grey);
    text-decoration: none;

    &:hover {
        color: var(--color-dark-grey);
    }
}
