@import 'mixins';

.aside {
    @include breakpoint('large') {
        margin-right: var(--spacing-single);
        max-width: 300px;
    }
}

.container {
    display: grid;
    grid-gap: var(--spacing-single);
    grid-template-columns: 1fr;
    position: relative;

    @include breakpoint('small') {
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoint('medium') {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint('large') {
        display: block;
        position: sticky;
        top: 100px;
    }
}
