@import 'buttons';

.details {
    color: var(--color-dark-grey);
    font-size: var(--font-size-base);
    list-style: none;
    margin: 0 0 var(--spacing-double);
    padding: 0;
}

.title {
    font-weight: var(--font-weight-sans-bold);
}

.link {
    @extend %buttonRightArrow;
}
