@import 'buttons';

.container {
    margin: 0 auto;
    max-width: 550px;
    padding: var(--spacing-double) var(--spacing-single) var(--spacing-triple);
    width: 100%;
}

.title {
    font-family: var(--font-serif);
    font-size: var(--font-size-huge);
    letter-spacing: 0.25;
    margin-bottom: var(--spacing-single);
    padding: 0;
    text-align: center;
}

.caption {
    font-size: var(--font-size-medium-small);
}

.button {
    @extend %buttonPrimary;
    @extend %buttonSizeLarge;
    width: 100%;
}
