.price {
    color: var(--color-dark-grey);
    font-size: var(--font-size-base);
    margin-bottom: var(--spacing-eighth);

    &.productPage {
        color: var(--color-not-black);
        font-size: var(--font-size-medium-large);
    }

    :global(.slashPrice) {
        margin-right: var(--spacing-half);
        position: relative;

        &::after {
            border-top: 2px solid var(--color-not-black);
            content: '';
            display: block;
            left: -5%;
            opacity: 0.41;
            position: absolute;
            top: 45%;
            transform: rotate(-5deg);
            width: 103%;
        }
    }

    :global(.salePrice) {
        color: var(--color-red);
    }
}
