@import 'mixins';

.options {
    display: grid;
    grid-gap: var(--spacing-two-thirds);
    grid-template-columns: repeat(3, 1fr);
    margin: 0;

    @include breakpoint('small') {
        grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint('medium') {
        grid-template-columns: repeat(6, 1fr);
    }
}

.option {
    display: inline-block;
    text-align: center;
}

.optionImage {
    margin-bottom: var(--spacing-sixth);
    width: 100%;
}
