@import 'mixins';

.container {
    display: table-cell;
    min-width: 75px;
    padding-right: var(--spacing-single);
    width: 75px;

    @include breakpoint('small') {
        min-width: 100px;
        width: 100px;
    }
}
