.container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.frame {
    border: 0;
    height: 100%;
    left: 0;
    padding: 0 4rem 0 3rem;
    position: absolute;
    top: 0;
    width: 100%;
}
