@import 'buttons';

.card {
    border: 1px solid var(--color-light-grey);
    border-radius: 2px;
    padding: var(--spacing-two-thirds);
    position: relative;
    transition: opacity 700ms 0s ease;
}

.overlay {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.actions {
    margin-top: var(--spacing-two-thirds);
}

.edit {
    @extend %buttonSubtle;
}

.delete {
    @extend %buttonSubtleDestructive;
    margin-left: var(--spacing-quarter);
}

.error {
    margin-top: var(--spacing-single);
}
