@import 'inputs';

%buttonBase {
    appearance: none;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: var(--box-shadow-input);
    cursor: pointer;
    display: inline-block;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-sans-bold);
    line-height: 1.4;
    height: 40px;
    margin: 0;
    outline: none;
    padding: var(--spacing-third) var(--spacing-half);
    pointer-events: all;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 200ms ease;
    vertical-align: middle;
    white-space: nowrap;

    &:focus {
        @extend %inputFocus;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

%buttonPrimary {
    @extend %buttonBase;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);

    &:hover,
    &:focus {
        background-color: var(--color-primary-light);
        border-color: var(--color-primary-light);
        color: var(--color-white);
    }

    &:disabled {
        background-color: var(--color-primary-dark);
        border-color: var(--color-primary-dark);
    }
}

%buttonPrimaryDestructive {
    @extend %buttonBase;
    background-color: var(--color-red);
    border-color: var(--color-red);
    color: var(--color-white);

    &:hover,
    &:focus {
        background-color: var(--color-red-dark);
        border-color: var(--color-red-dark);
        color: var(--color-white);
    }

    &:disabled {
        background-color: var(--color-red-darkest);
        border-color: var(--color-red-darkest);
    }
}

%buttonSecondary {
    @extend %buttonBase;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-white);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);

    &:hover,
    &:focus {
        background-color: var(--color-secondary-light);
        border-color: var(--color-secondary-light);
        color: var(--color-white);
    }

    &:disabled {
        background-color: var(--color-secondary);
        border-color: var(--color-secondary);
    }
}

%buttonSecondaryDestructive {
    @extend %buttonBase;
    border-color: var(--color-red);
    color: var(--color-red);

    &:hover,
    &:focus {
        background-color: var(--color-red-light);
        border-color: var(--color-red);
        color: var(--color-red);
    }

    &:disabled,
    &:disabled:hover {
        background-color: var(--color-red-light);
        border-color: var(--color-red-darkest);
        color: var(--color-red-darkest);
    }
}

%buttonSubtle {
    @extend %buttonBase;
    background-color: var(--color-lightest-grey);
    border-color: var(--color-lightest-grey);
    color: var(--color-not-black);

    &:hover,
    &:focus {
        background-color: var(--color-light-grey);
        border-color: var(--color-light-grey);
        color: var(--color-not-black);
    }

    &:disabled,
    &:disabled:hover {
        background-color: var(--color-light-grey);
        border-color: var(--color-light-grey);
        color: var(--color-not-black);
    }
}

%buttonSubtleDestructive {
    @extend %buttonBase;
    box-shadow: none;
    color: var(--color-red);

    &:hover,
    &:focus {
        color: var(--color-red);
        text-decoration: underline;
    }
}

%buttonSizeLarge {
    font-size: var(--font-size-medium);
    height: 54px;
    min-width: 125px;
    padding: var(--spacing-half) var(--spacing-two-thirds);
}

%buttonSizeSmall {
    font-size: var(--font-size-small);
    height: 34px;
    padding: var(--spacing-quarter) var(--spacing-half);
}

%buttonRightArrow {
    color: var(--color-primary);
    text-decoration: none;

    &:focus,
    &:hover {
        color: var(--color-primary);
        text-decoration: underline;
    }

    &::after {
        border-right: 1.5px solid var(--color-primary);
        border-top: 1.5px solid var(--color-primary);
        content: '';
        display: inline-block;
        height: 8px;
        margin-left: var(--spacing-sixth);
        margin-top: -1px;
        transform: rotate(45deg);
        vertical-align: middle;
        width: 8px;
    }
}
