.title {
    border-bottom: 2px solid var(--color-light-grey);
    color: var(--color-dark-grey);
    font-family: var(--font-sans);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-sans-bold);
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum';
    letter-spacing: 0.75px;
    margin-bottom: var(--spacing-single);
    padding-bottom: var(--spacing-sixth);
    text-transform: uppercase;
}
